<html>
<head>
    <title>Amigo</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
  <div class="amigo">
    <div class="amigo__header">
      <img class="amigo__header--logo" src="./img/logo.png" alt="">
      <button id="close-window" class="amigo__header--close"></button>
    </div>
    <div class="amigo__asis">
      <textarea id="text" class="fz40" rows="1"></textarea>
      <button id="btn-search"></button>
    </div>
    <div class="amigo__tobe">
      <textarea id="translated-text" class="fz40"></textarea>
      <span id="copy">COPY</span>
      <div id="toaster">Copied!</div>
    </div>
  </div>
  <script src="window.js"></script>
</body>
</html>