@font-face {
  font-family: AppleGothic;
  src: local("Apple SD Gothic Neo");
}
@font-face {
  font-family: Times;
  src: local("Apple SD Gothic Neo");
}

html, body {
  background-color: #ffffff;
  color: #000000;
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Apple SD Gothic Neo', 'AppleGothic', Apple SD Gothic Neo !important;
}

.fz10 {
  font-size: 10px !important;
}
.fz20 {
  font-size: 20px !important;
}
.fz40 {
  font-size: 40px !important;
}

.amigo__header {
  background: transparent;
  height: 50px;
  position: relative;
  width: 100%;
}

.amigo__header--logo {
  position: absolute;
  left: 20px;
  top: 15px;
  width: 60px;
}

.amigo__header--close {
  cursor: pointer;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  right: 0;
  background: url(./img/close.png) no-repeat center;
  outline: 0;
  border: none;
}

.amigo__header--close:active, .amigo__header--close:hover {
  opacity: .5;
}

.amigo__asis {
  height: calc((100% - 170px) / 2);
  padding: 0 20px 35px;
  position: relative;
}

.amigo__asis textarea {
  background: transparent;
  border: 0;
  outline: 0;
  width: 100%;
  height: 100%;
  resize: none;
  overflow-x: hidden;
  word-wrap: break-word;
  padding: 0;
  font-size: 40px;
}

.amigo__asis button {
  display: none;
}

.amigo__tobe {
  background-color: #00aeff;
  height: calc((100% - 140px)/2);
  padding: 35px 20px;
  position: relative;
}

.amigo__tobe textarea {
  background: transparent;
  border: 0;
  color: #ffffff;
  padding: 0;
  cursor: pointer;
  height: 100%;
  /* pointer-events: none; */
  outline: 0;
  overflow-x: hidden;
  resize: none;
  width: 100%;
  word-wrap: break-word;
  font-size: 40px;
}

.amigo__tobe span {
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  position: absolute;
  bottom: 10px;
  cursor: pointer;
  right: 12px;
  color: #ffffff;
}

.amigo__tobe span:after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #fff;
  bottom: 0;
  left: 0;
  position: absolute;
}

.amigo__tobe span:hover, .amigo__tobe span:active {
  opacity: .5;
}

.amigo__tobe div {
  visibility: hidden;
  min-width: 50px;
  background-color: #ffffff;
  color: #00aeff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  right: 12px;
  top: 35px;
}

.amigo__tobe div.active {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* animation */
@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 35px; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 35px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: 35px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

@keyframes fadeout {
  from {top: 35px; opacity: 1;}
  to {top: 0; opacity: 0;}
}
